.git
.github
vendor
node_modules
.env
database/*.sqlite
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
public/storage
tests
bootstrap/cache/*.php
